# ---> Vue
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore
node_modules
.DS_Store
dist
dist-ssr
*.local
node_modules
.DS_Store
dist
dist-ssr
*.local

# TODO: where does this rule come from?
docs/_book

# TODO: where does this rule come from?
test/

